* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
body {
    font: 16px sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    overflow: hidden;
    background: #A9A9A9;
}
button, input[type="text"], input[type="number"], .select-container, select {
    color: white;
    background: #444;
    border: none;
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    outline: 0;
}
.select-container {
    padding: 0;
    display: inline-block;
}
select {
    border: none;
    background: none;
    color: white;
    height: 25px;
}
input[type="text"], input[type="number"] {
    cursor: text;
}
input[type="checkbox"] {
    -webkit-filter: saturate(0);
    filter: saturate(0);
}
/* Major interface panes, aside, article, header, etc. */
body > * {
    padding: 10px;
    position: fixed;
    overflow: scroll;
    background: #222;
}
header {
    width: 2000px;
    height: 123px;
    top: 0;
    left: 0;
    color: white;
    background: #222;
}
label {
    font-size: 14px;
    font-family: "OCR A";
    position: absolute;
    bottom: 4px;
    right: 4px;
}
#title {
    position: absolute;
    top: 15px;
    left: 40px;
    font-size: 40px;
    font-family: "Impact";
}
#subtitle {
    position: absolute;
    top: 65px;
    left: 40px;
    font-size: 28px;
    /*font-family: "Impact";*/
}
#logo {
    position: absolute;
    top: 0px;
    left: 340px;
}
#name {
    font-family: "Brush Script MT";
    font-size: 90px;
    position: absolute;
    top: -15px;
    left: 540px;
}
#robot-state {
    position: absolute;
    font-size: 30px;
    font-family: "OCR A";
    top: 15px;
    left: 780px;
}
#timer {
    color: white;
    height: 20vh;
    width: 30vw;
    top: 50px;
    left: 780px;
    font-size: 28px;
    font-family: "OCR A";
    position: absolute;
}
#camera {
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50vw;
    height: 80vh;
    overflow: hidden;
    background-color: #333;
    /* You'll need to mess with this a bit to get your camera to work. Replace the url with a live-updating image feed from your camera. Using other camera streaming systems will require some tweaking. */
    /*background-image: url('LINK TO CAMERA SOURCE HERE');*/
}
#field {
    position: fixed;
    top: 127px;
    left: 4px;
    width: 220px;
    height: 440px;
    background: #222;
}
#fieldimg {
    position: absolute;
    top: 20px;
    left: 5px;
}
#leftimg {
    position: absolute;
    top: 20px;
    left: 5px;
    opacity: 0;
}
#leftpantsimg {
    position: absolute;
    top: 20px;
    left: 5px;
    opacity: 0;
}
#middleimg {
    position: absolute;
    top: 20px;
    left: 5px;
    opacity: 0;
}
#middlepantsimg {
    position: absolute;
    top: 20px;
    left: 5px;
    opacity: 0;
}
#rightimg {
    position: absolute;
    top: 20px;
    left: 5px;
    opacity: 0;
}
#rightpantsimg {
    position: absolute;
    top: 20px;
    left: 5px;
    opacity: 0;
}
#scale3left {
    position: absolute;
    top: 120px;
    left: 63px;
    width: 47px;
    height: 33px;
    background-color: red;
    border: 1px solid black;
}
#scale3right {
    position: absolute;
    top: 120px;
    left: 110px;
    width: 47px;
    height: 33px;
    background-color: blue;
    border: 1px solid black;
}
#scale2left {
  position: absolute;
  top: 214px;
  left: 51px;
  width: 59px;
  height: 33px;
  background-color: red;
  border: 1px solid black;
}
#scale2right {
  position: absolute;
  top: 214px;
  left: 110px;
  width: 59px;
  height: 33px;
  background-color: blue;
  border: 1px solid black;
}
#scale1left {
  position: absolute;
  top: 307px;
  left: 63px;
  width: 47px;
  height: 33px;
  background-color: red;
  border: 1px solid black;
}
#scale1right {
  position: absolute;
  top: 307px;
  left: 110px;
  width: 47px;
  height: 33px;
  background-color: blue;
  border: 1px solid black;
}
#teamcolor {
  position: absolute;
  top: 246px;
  left: 72px;
  width: 77px;
  height: 22px;
  background-color: red;
  border: 1px solid black;
}
#opponentcolor {
  position: absolute;
  top: 192px;
  left: 72px;
  width: 77px;
  height: 23px;
  background-color: blue;
  border: 1px solid black;
}
#leftcircle {
  position: absolute;
  bottom: 10px;
  left: 37px;
  background-color: #222;
  height: 20px;
  width: 20px;
  -webkit-border-radius:75px;
  -moz-border-radius:75px;
}
#middlecircle {
  position: absolute;
  bottom: 10px;
  left: 100px;
  background-color: #222;
  height: 20px;
  width: 20px;
  -webkit-border-radius:75px;
  -moz-border-radius:75px;
}
#rightcircle {
  position: absolute;
  bottom: 10px;
  left: 164px;
  background-color: #222;
  height: 20px;
  width: 20px;
  -webkit-border-radius:75px;
  -moz-border-radius:75px;
}
#fieldlabel {
    font-size: 14px;
    font-family: "OCR A";
    position: absolute;
    top: 4px;
    left: 4px;
}
#gyro {
    position: fixed;
    top: 127px;
    left: 228px;
    width: 220px;
    height: 218px;
    background: #222;
}
#gyroimg {
  position: absolute;
  top: 10px;
  left: 20px;
}
#gyronum {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-family: "OCR A";
  font-size: 26px;
}
#gyroreset {
  position: absolute;
  top: 5px;
  right: 5px;
  font-family: "OCR A";
  font-size: 16px;
  background: #A9A9A9;
}
#arrowimg {
  position: absolute;
  transform-origin: 50% 95%;
  top: 14.3px;
  left: 105.5px;
}
#encoder {
    position: fixed;
    top: 349px;
    left: 228px;
    width: 220px;
    height: 218px;
    background: #222;
}
#flcircle {
  position: absolute;
  top: 10px;
  left: 15px;
  background-color: rgba(204, 0, 102, 0);
  border: 3px solid red;
  height:90px;
  width:90px;
  -webkit-border-radius:75px;
  -moz-border-radius:75px;
}
#flencval {
  font-family: "OCR A";
  font-size: 28px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#frcircle {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: rgba(204, 0, 102, 0);
  border: 3px solid red;
  height:90px;
  width:90px;
  -webkit-border-radius:75px;
  -moz-border-radius:75px;
}
#frencval {
  font-family: "OCR A";
  font-size: 28px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#blcircle {
  position: absolute;
  bottom: 20px;
  left: 15px;
  background-color: rgba(204, 0, 102, 0);
  border: 3px solid red;
  height:90px;
  width:90px;
  -webkit-border-radius:75px;
  -moz-border-radius:75px;
}
#blencval {
  font-family: "OCR A";
  font-size: 28px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#brcircle {
  position: absolute;
  bottom: 20px;
  right: 15px;
  background-color: rgba(204, 0, 102, 0);
  border: 3px solid red;
  height:90px;
  width:90px;
  -webkit-border-radius:75px;
  -moz-border-radius:75px;
}
#brencval {
  font-family: "OCR A";
  font-size: 28px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
#encreset {
  position: absolute;
  top: 48%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: "OCR A";
  font-size: 16px;
  background: #A9A9A9;
}
#auto {
    font-family: "OCR A";
    font-size: 18px;
    position: fixed;
    top: 571px;
    left: 4px;
    width: 444px;
    height: 68px;
    background: #222;
}
#autolabel {
  font-size: 14px;
  font-family: "OCR A";
  position: absolute;
  bottom: 4px;
  left: 4px;
}
#autoleft {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 28px;
    background: red;
}
#automiddle {
    position: absolute;
    top: 20px;
    left: 86px;
    font-size: 28px;
    background: #A9A9A9;
}
#autoright {
    position: absolute;
    top: 20px;
    left: 195px;
    font-size: 28px;
    background: #A9A9A9;
}
#pants {
    font-size: 22px;
    position: absolute;
    top: 10px;
    left: 310px;
}
#pantson {
    font-size: 26px;
    position: absolute;
    top: 24px;
    left: 49px;
    background-color: #A9A9A9;
    width: 35px;
}
#pantsoff {
    font-size: 26px;
    position: absolute;
    top: 24px;
    left: 84px;
    background-color: red;
    width: 44px;
}
#robot {
    position: fixed;
    top: 127px;
    left: 452px;
    width: 500px;
    height: 350px;
    background: #222;
}
#robotimg {
    position: absolute;
    top: 15px;
    left: 5px;
}
#fldrivebar {
    font-family: "OCR A";
    position: absolute;
    text-align: center;
    top: 14px;
    left: 315px;
    width: 100px;
    background: linear-gradient(
      to right,
      red 0%,
      red 50%,
      #A9A9A9 50%,
      #A9A9A9 100%
  );
}
#frdrivebar {
  font-family: "OCR A";
  position: absolute;
  text-align: center;
  top: 43px;
  left: 315px;
  width: 100px;
  background: linear-gradient(
    to right,
    red 0%,
    red 50%,
    #A9A9A9 50%,
    #A9A9A9 100%
);
}
#bldrivebar {
  font-family: "OCR A";
  position: absolute;
  text-align: center;
  top: 72px;
  left: 315px;
  width: 100px;
  background: linear-gradient(
    to right,
    red 0%,
    red 50%,
    #A9A9A9 50%,
    #A9A9A9 100%
);
}
#brdrivebar {
  font-family: "OCR A";
  position: absolute;
  text-align: center;
  top: 101px;
  left: 315px;
  width: 100px;
  background: linear-gradient(
    to right,
    red 0%,
    red 50%,
    #A9A9A9 50%,
    #A9A9A9 100%
);
}
#intakebar {
  font-family: "OCR A";
  position: absolute;
  text-align: center;
  top: 130px;
  left: 315px;
  width: 100px;
  background: linear-gradient(
    to right,
    red 0%,
    red 50%,
    #A9A9A9 50%,
    #A9A9A9 100%
);
}
#intakerotatebar {
  font-family: "OCR A";
  position: absolute;
  text-align: center;
  top: 159px;
  left: 315px;
  width: 100px;
  background: linear-gradient(
    to right,
    red 0%,
    red 50%,
    #A9A9A9 50%,
    #A9A9A9 100%
);
}
#elevatorbar {
  font-family: "OCR A";
  position: absolute;
  text-align: center;
  top: 188px;
  left: 315px;
  width: 100px;
  background: linear-gradient(
    to right,
    red 0%,
    red 50%,
    #A9A9A9 50%,
    #A9A9A9 100%
);
}
#pid {
    font-family: "OCR A";
    position: fixed;
    top: 481px;
    left: 452px;
    width: 370px;
    height: 158px;
    background: #222;
}
#pfield {
    position: relative;
    left: 2px;
    font-family: "OCR A";
    font-size: 32;
    background-color: #A9A9A9;
}
#ifield {
    position: relative;
    left: 2px;
    font-family: "OCR A";
    font-size: 32;
    background-color: #A9A9A9;
}
#dfield {
    position: relative;
    left: 2px;
    font-family: "OCR A";
    font-size: 32;
    background-color: #A9A9A9;
}
#save {
    position: absolute;
    left: 250px;
    top: 58px;
    font-family: "OCR A";
    font-size: 32;
    background-color: #A9A9A9;
}
#power {
    font-family: "OCR A";
    position: fixed;
    top: 127px;
    left: 956px;
    width: 305px;
    height: 350px;
    background: #222;
}
#voltagebar {
    font-family: "OCR A";
    text-align: center;
    width: 250px;
    background: linear-gradient(
      to right,
      red 0%,
      red 0%,
      #A9A9A9 0%,
      #A9A9A9 100%
  );
}
#totaldrawbar {
    font-family: "OCR A";
    text-align: center;
    width: 250px;
    background: linear-gradient(
      to right,
      red 0%,
      red 0%,
      #A9A9A9 0%,
      #A9A9A9 100%
  );
}
#powerdraw {
    position: absolute;
    font-size: 14px;
    left: 60px;
}
#drivedrawbar {
    font-family: "OCR A";
    text-align: center;
    width: 200px;
    background: linear-gradient(
      to right,
      red 0%,
      red 0%,
      #A9A9A9 0%,
      #A9A9A9 100%
  );
}
#intakedrawbar {
    font-family: "OCR A";
    text-align: center;
    width: 200px;
    background: linear-gradient(
      to right,
      red 0%,
      red 0%,
      #A9A9A9 0%,
      #A9A9A9 100%
  );
}
#intakerotatedrawbar {
    font-family: "OCR A";
    text-align: center;
    width: 200px;
    background: linear-gradient(
      to right,
      red 0%,
      red 0%,
      #A9A9A9 0%,
      #A9A9A9 100%
  );
}
#elevatordrawbar {
    font-family: "OCR A";
    text-align: center;
    width: 200px;
    background: linear-gradient(
      to right,
      red 0%,
      red 0%,
      #A9A9A9 0%,
      #A9A9A9 100%
  );
}
#memevalues {
    position: absolute;
    top: 225px;
}
#velocitybar {
    font-family: "OCR A";
    text-align: center;
    width: 250px;
    background: linear-gradient(
      to right,
      red 0%,
      red 0%,
      #A9A9A9 0%,
      #A9A9A9 100%
  );
}
#accelerationbar {
    font-family: "OCR A";
    text-align: center;
    width: 250px;
    background: linear-gradient(
      to right,
      red 0%,
      red 0%,
      #A9A9A9 0%,
      #A9A9A9 100%
  );
}
#temperaturebar {
    font-family: "OCR A";
    text-align: center;
    width: 250px;
    background: linear-gradient(
      to right,
      red 0%,
      red 0%,
      #A9A9A9 0%,
      #A9A9A9 100%
  );
}
#led {
    position: fixed;
    top: 481px;
    left: 826px;
    width: 435px;
    height: 158px;
    background: #222;
}
svg * {
    stroke: white;
    fill: #222;
    stroke-width: 2;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}
text {
    font-size: 16px;
    letter-spacing: 2px;
    stroke: none;
    fill: white;
}
#team {
    font-size: 28px;
    letter-spacing: -1px;
}
#login {
    position: fixed;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8)
}
body.login #login {
    display: flex;
}
#login :disabled {
    opacity: 0.6;
}
#login > * {
    height: 40px;
}
#login > button {
    margin-left: 5px;
}
